@use '../../styles/vars.scss' as *;
@use '../../styles/mixins.scss' as *;
@use 'include-media/dist/include-media' as *;

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    background-color: #ffd1d1;
    color: #631717;
  }

  &.green {
    background-color: #d7ffd7;
    color: #2b6d2b;
  }

    &.brown {
    background-color: #ffe5d7;
    color: #6d492b;
  }
}